{{ define "subject" }}
   Welcome to Greenlight
{{ end }}

{{ define "plainBody" }}
  Thanks for signing up for a Greenlight account. We're excited to have you on board!
  
  For future reference, your ID number is {{.ID}}.

  Please send a request to the `PUT /v1/users/activated` endpoint with the following JSON body to activate your account:

  {"token": "{{.activationToken}}"}

  Please note that this is a one-time use token and it will expire in 3 days.

  Thanks,

  The Greenlight Team.
{{ end }}

{{ define "htmlBody" }}
   <!DOCTYPE html>
   <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
   <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
   <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
   <!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
   <html>
      <head>
         <meta name="viewport", content="width=device-width"/> 
         <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
      </head>
      <body>
        <p>Hi,</p>
        <p>Thanks for signing up for a Greenlight account. We're excited to have you on board!</p>
        <p>For future reference, your user number is {{.ID}}.</p>
        <p> 
         Please send a request to the `PUT /v1/users/activated` endpoint with the following JSON body to activate your account:
        </p>
        <p>
         {"token": "{{.activationToken}}"}
        </p>
        <p>
         Please note that this is a one-time use token and it will expire in 3 days.
         </p>
        <p>Thanks,</p>
        <p>The Greenlight Team.</p> 
      </body>
   </html>
{{ end }}

